<head>
    <meta charset="utf-8" />
    <title>PİTON NOTİON</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/2123_simply_amazed/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/2123_simply_amazed/fontawesome/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="~/2123_simply_amazed/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="~/2123_simply_amazed/css/tooplate-simply-amazed.css" type="text/css" />

</head>
