<section class="work-section section" id="section-2">
    <div class="container">
        <div class="row">
            <div class="item col-md-4">
                <div class="tm-work-item-inner">
                    <div class="icn"><i class="fas fa-2x fa-icons"></i></div>
                    <h3>Online</h3>
                    <p>Online bir şekilde web üzerinden not alarak depolamadan tasarruf edeceksiniz.</p>
                </div>
            </div>
            <div class="item col-md-4 one">
                <div class="tm-work-item-inner">
                    <div class="icn"><i class="fas fa-2x fa-tools"></i></div>
                    <h3>Ulaşım</h3>
                    <p>Aldığınız notlara internete bağlanabilen her cihazdan ulaşabileceksiniz ve bunu extra bir uygulama indirmeden yapacaksınız.</p>
                </div>
            </div>
            <div class="item col-md-4 two">
                <div class="tm-work-item-inner">
                    <div class="icn"><i class="fab fa-2x fa-phoenix-framework"></i></div>
                    <h3>Güvenlik</h3>
                    <p>Aldığınız notlar <b>Piton Notion</b> güvencesi ile saklanacak.</p>
                </div>
            </div>
        </div>
        <div class="title">
            <h2>Hakkımızda</h2>
        </div>
    </div>
</section>
