

<section class="contact-section section" id="section-4">
    <div class="container">
        <div class="title">
            <h3>Rapor Bilgileri</h3>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-6 mb-4 contact-form">
                <div class="form tm-contact-item-inner">
                    <form action="Create" method="POST">
                        <div class="form-group">
                            <input name="name" type="text" class="form-control" placeholder="Rapor Adı">
                        </div>
                        <div class="form-group">
                            <input name="email" type="text" class="form-control" placeholder="Rapor Tipi">
                        </div>
                        <div class="form-group">
                            <textarea name="message" class="textarea form-control" placeholder="Raporunuz"></textarea>
                        </div>
                        <div class="form-group">
                            <input name="name" type="text" class="form-control" placeholder="Rapor Görseli (URL)">
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" class="btn btn-primary" value="Kaydet">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 contact-details">
                <div class="tm-contact-item-inner-2">
                    <p>Piton Notion tüm haklarınızı saklı tutar.</p>
                    <ul class="font-weight-light">
                        <li>
                            <span class="icn"><i class="fas fa-mobile-alt"></i></span>
                            <span class="lbl">Tel:</span> <a href="#">+90 222 222 12 34</a>
                        </li>
                        <li>
                            <span class="icn"><i class="fas fa-at"></i></span>
                            <span class="lbl">Email:</span> <a href="#">info@piton.com.tr</a>
                        </li>
                        <li>
                            <span class="icn"><i class="fas fa-globe-asia"></i></span>
                            <span class="lbl">URL:</span> <a href="#">piton.com.tr</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 map">
                <!-- Map -->
                <div class="map-outer tm-mb-40">
                    <div class="gmap-canvas">
                        <iframe width="100%" height="400" id="gmap-canvas"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.4641699471726!2d30.490021799999994!3d39.751685599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cc1643dec1bbd9%3A0x4c836f6ec9d440bb!2sEski%C5%9Fehir%20Osmangazi%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1719326404712!5m2!1str!2str"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer container container-2">
        <div class="row">
            <p class="col-sm-7">Piton Notion 2024</p>
            <p class="col-sm-5 text-right design">Design: <a rel="nofollow" href="https://www.tooplate.com" target="_parent">Piton</a></p>
        </div>
    </footer>
</section>
